---
---
body {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

section h2 {
    margin-bottom: 20px;
}

table {
    padding: 0;
}
table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr th :first-child, table tr td :first-child {
    margin-top: 0;
}
table tr th :last-child, table tr td :last-child {
    margin-bottom: 0;
}
pre {
    background-color: white;
}

/*
 * header
 */

/* bad copy from bootstrap */
.navlist a {
 color:#9d9d9d
}
.navlist a:focus, .navlist a:hover {
 color:#fff;
 background-color:transparent;
 text-decoration:underline;
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
  }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

#dropdown a {
    color:inherit;
}

#navbar-nodropdown a:hover {
    text-decoration:underline;
}

#pubscrollspy {
    top: 65px;
    position: sticky;
}

#pubscrollspy a {
    padding: 5px 10px;
}

/* Dropdown Button */
.dropbtn {
    padding: 10px;
    border: none;
    background-color:transparent;
}
/* Hack to fix vertical positions of menu items on small displays in combination with preventing the menu buttons from stacking */
@media (min-width: 768px) {
    .dropbtn {
        padding: 15px;
    }
}

#dropbtn a {
    color: inherit;
}

/*.dropbtn:hover {
    text-decoration:underline;
}*/

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 176px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content div {
    background-color: #555;
    color:#9d9d9d;
    padding: 2px 8px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color:#cfcfcf;
  background-color: #555;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #3f3f3f;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-image: linear-gradient(to bottom,#3f3f3f 0,#555 100%);
} 

/*
 * people
 */

#people h3 {
    margin-top: 2em;
    margin-bottom: 2em;
}

#people div.person {
    margin-bottom: 1em;
}

#people ul.bio li {
    margin-bottom: 0.2em;
    display: flex;
    align-items: center;
}

#people ul.bio .glyphicon {
    margin-right: 0.5em;
}

#people ul.bio .btn-link {
    padding: 0;
}

#people div.bio {
    border-top: 1px solid #aaa;
    margin-top: 0.75em;
    padding-top: 0.75em;
}

/*
 * publications
 */

.publist-well {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 30px;
    box-sizing: border-box;
}

.publist-well:hover {
    border: 1px solid #f2f7fc;
    background-color: #f2f7fc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 30, 0.2), 0 6px 20px 0 rgba(0,0,30, 0.19);
    cursor:pointer;
}
.publist-well-bg-link > span {
    position:absolute;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top:0;
    left:15px;
    z-index:1;
}

.publist-well a:not(.publist-well-bg-link) {
    position:relative;
    z-index:2;
}

.publist-well button:not(.publist-well-bg-link) {
    position:relative;
    z-index:2;
}

.publist-well div {
    position:relative;
    z-index:2;
    cursor:text;
}

.publist-well .btn-default:hover {
    color: #333;
    background-color: #bfdaf2;
    border-color: dark(#ccc, 12%);
}
.publist-well .btn-default:focus {
    color: #333;
    background-color: #bfdaf2;
    border-color: dark(#ccc, 12%);
}

.figure-well {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#publications ul.authors li {
    padding: 0;
}

#publications ul.authors li:after {
    content: ',';
}

#publications ul.authors li:last-child:after {
    content: '';
}

#publications ul.buttons li {
    padding: 0;
}

#publications ul.years {
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.5em;
}

#publications ul.years li {
    padding: 0;
}

#publications ul.years li:after {
    content: ' | ';
}

#publications ul.years li:last-child:after {
    content: '';
}

.paperthumbnail {
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 14px 0 rgba(0, 0, 0, 0.2);
    margin: 6px 16px 16px 16px;
}

#top-year {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.year-anchor {
    display: block;
    position: relative;
    top: -85px;
    visibility: hidden;
}

/* News */

@media only screen and (min-width: 768px) {
    .dl-horizontal dt {
        width: 80px;
    }
    .dl-horizontal dd {
        margin-left: 100px;
    }
}