<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <small>
                    <span class="copyright">&copy; {{ site.title }} 2015-2018</span>
                </small>
            </div>
            <div class="col-md-4 text-center">
                <ul class="list-inline social-buttons">
                {% for network in site.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <small>
                    Design and programming by <a href="http://alas.dk">Morten Bojsen-Hansen</a>.
                </small>
            </div>
        </div>
    </div>
</footer>
