<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <small>
                    <span class="copyright">&copy; {{ site.title }} 2025</span>
                </small>
            </div>
            <div class="col-md-3 text-center">
                <ul class="list-inline social-buttons">
                {% for network in site.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-5">
                <small>
                    Website by <a href="http://alas.dk">Morten Bojsen-Hansen</a>, maintained by <a href="https://astcort.github.io/">Mickaël Ly</a> & <a href="https://chrishafner.github.io">Christian Hafner</a>.
                </small>
            </div>
        </div>
    </div>
</footer>
