<div id="logo-bg" class="container">
    <img id="logo-image" src="{{'/img/ista-logo-h200.png' | prepend: site.baseurl }}"/>
    <div id="logo-text" class="container"> Visual<br/>Computing</div>
    <!--<script>
        var doc = document.getElementById("logo-text");
        var fontfamilies = ["Bungee Shade","Turret Road","Chelsea Market","DotGothic16","Frijole"];
        var fontweights = [700,700,500,700,500];
        function changeFont() {
            var i = Math.floor(Math.random() * fontfamilies.length);
            doc.style.fontFamily = fontfamilies[i];
            doc.style.fontWeight = fontweights[i];
        }
        setInterval(changeFont, 60000);
    </script>-->
</div>