<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <a href="#"><span>Navigation</span></a>
        </button>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ '/' | prepend: site.baseurl }}">News</a>
                <li class="navlist">
                  <div class="dropdown">
                    <a href="{{ '/people' | prepend: site.baseurl }}">
                      <button class="dropbtn">People
                      </button>
                    </a>
                    <div class="dropdown-content">
                      <a href="{{ '/people/grpbickel' | prepend: site.baseurl }}">Bickel group</a>
                      <a href="{{ '/people/grpkolmogorov' | prepend: site.baseurl }}">Kolmogorov group</a>
                      <a href="{{ '/people/grplampert' | prepend: site.baseurl }}">Lampert group</a>
                      <a href="{{ '/people/grpwojtan' | prepend: site.baseurl }}">Wojtan group</a>
                    </div>
                  </div> 
                <li class="navlist">
                  <div class="dropdown">
                    <a href="{{ '/publications' | prepend: site.baseurl }}">
                      <button class="dropbtn">Publications
                      </button>
                    </a>
                    <div class="dropdown-content">
                      <a href="{{ '/publications/grpbickel' | prepend: site.baseurl }}">Bickel group</a>
                      <a href="{{ '/publications/grpkolmogorov' | prepend: site.baseurl }}">Kolmogorov group</a>
                      <a href="{{ '/publications/grplampert' | prepend: site.baseurl }}">Lampert group</a>
                      <a href="{{ '/publications/grpwojtan' | prepend: site.baseurl }}">Wojtan group</a>
                    </div>
                  </div> 
                <li><a href="{{ '/openpositions' | prepend: site.baseurl }}">Open Positions</a>
            </ul>
        </div> 
    </div>
</nav>

