<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

        <!--<button class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
        <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>-->

            <ul class="nav navbar-nav" id="navbar">
                <li id="navbar-nodropdown"><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
                <li class="navlist">
                  <div class="dropdown">
                    <a>
                      <button class="dropbtn">People <span class="caret"></span>
                      </button>
                    </a>
                    <div class="dropdown-content">
                      <a href="{{ '/people' | prepend: site.baseurl }}">All</a>
                      <a href="{{ '/people/grpbickel' | prepend: site.baseurl }}">Bickel Group</a>
                      <a href="{{ '/people/grpren' | prepend: site.baseurl }}">Ren Group</a>
                      <a href="{{ '/people/grpwojtan' | prepend: site.baseurl }}">Wojtan Group</a>
                      <div>Our Friends at ISTA:</div>
                      <a href="https://ist.ac.at/en/research/kolmogorov-group/" target="_blank">Kolmogorov Group &nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
                      <a href="https://cvml.ista.ac.at/" target="_blank">Lampert Group &nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
                    </div>
                  </div> 
                </li>
                <li class="navlist">
                  <div class="dropdown">
                    <a>
                      <button class="dropbtn">Publications <span class="caret"></span>
                      </button>
                    </a>
                    <div class="dropdown-content">
                      <a href="{{ '/publications' | prepend: site.baseurl }}">All</a>
                      <a href="{{ '/publications/grpbickel' | prepend: site.baseurl }}">Bickel Group</a>
                      <a href="{{ '/publications/grpren' | prepend: site.baseurl }}">Ren Group</a>
                      <a href="{{ '/publications/grpwojtan' | prepend: site.baseurl }}">Wojtan Group</a>
                    </div>
                  </div>
                </li>
                <li id="navbar-nodropdown" class="navlist-hideonsmall"><a href="{{ '/code' | prepend: site.baseurl }}">Code</a></li>
                <li id="navbar-nodropdown" class="navlist-hideonsmall"><a href="{{ '/seminars' | prepend: site.baseurl }}">Seminar</a></li>
                <li id="navbar-nodropdown" class="navlist-hideonsmall"><a href="{{ '/openpositions' | prepend: site.baseurl }}">Jobs</a></li>

                <li class="navlist navlist-others">
                  <div class="dropdown">
                    <a><button class="dropbtn">Others <span class="caret"></span></button></a>
                    <div class="dropdown-content">
                      <a href="{{ '/code' | prepend: site.baseurl }}">Code</a> 
                      <a href="{{ '/seminars' | prepend: site.baseurl }}">Seminar</a> 
                      <a href="{{ '/openpositions' | prepend: site.baseurl }}">Jobs</a>
                    </div>
                  </div>
                </li>
            </ul>
    </div>
</nav>

