<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    {% if layout.subpage == 'publications' %}
    <body data-spy="scroll" data-target="#pubscrollspy" data-offset="5">
        <a id="top-year"></a>
    {% elsif layout.subpage == 'seminars' %}
    <body data-spy="scroll" data-target="#seminarscrollspy" data-offset="5">
        <a id="top-year"></a>
    {% else %}
    <body>
    {% endif %}
        {% include nav.html %}

        {% include logo.html %}

        {{ content }}

        {% include footer.html %}
    </body>
</html>
