<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    {% if layout.subpage == 'publications' %}
    <body data-spy="scroll" data-target="#pubscrollspy" data-offset="5">
        <a id="top-year"></a>
    {% else %}
    <body>
    {% endif %}
        {% include nav.html %}

        <div class="jumbotron">
            <h1><span>Visual Computing</span></h1>
            <h2><span>@IST Austria</span></h2>
        </div>

        {{ content }}

        {% include footer.html %}
    </body>
</html>
