---
layout: default
---

<section id="people">
  <div class="container">
    <h2 style="margin-bottom: 20px">{{ page.grpname }}</h2>
  </div>

  <div class="container">
    {% for role in site.roles %}
      {% assign cat = site.people | where: "type", role.id  %}
      {% if page.grpid != 'all' %}
        {% assign cat = cat | where: "grp", page.grpid  %}
      {% endif %}
      {% if cat.size > 0 %}
        <div class="row">
          <div class="col-sm-12">
              <h3 style="margin-top: 30px; margin-bottom: 20px">{{ role.title }}</h3>
          </div>
        </div>
      {% include people-list.html type=role.id grp=page.grpid %}
      {% endif %}
    {% endfor %}

  </div>

  
</section> 
