---
subpage: seminars
layout: default
---
<section id="seminars">

  <div class="container" data-spy="scroll" data-target="#seminarscrollspy" style="max-width: 1800px">

    
    <div class="container text-center">
      <h2>Computer Graphics Seminar</h2>
    </div>
 
    {% assign current_year = 0 %}
    {% assign seminars = site.seminars | sort: 'date' | reverse %}

    <div class="row">
      <nav class="col-xs-1" style="width: 88px;  padding-right: 20px;" id="seminarscrollspy">
        <ul class="nav nav-pills nav-stacked">
          {% for p in seminars %}
          {% assign year = p.date | split: '-' | first %}
          {% if current_year == 0 %}
          <li><a href="#top-year">{{ year }}</a></li>
          {% elsif year != current_year %}
          <li><a href="#{{ year }}">{{ year }}</a></li>
          {% endif %}
          {% assign current_year = year %}
          {% endfor %}
        </ul>
      </nav>

      <div class="col-xs-11" style="width: calc(100% - 108px); padding-left: 0;">

        {% assign index = 1 %}
        {% assign current_year = 0 %}
        {% for p in seminars %}
        {% assign year = p.date | split: '-' | first %}
        {% if year != current_year %}
        {% endif %}
        <div class="well code-well">
          <!--<a href="{% if p.layout == 'publication' %}{{ p.url }}{% elsif p.project %}{{ p.project }}{% endif %}" class="publist-well-bg-link"><span></span></a>-->
          {% if year != current_year %}
          <a class="year-anchor" id="{{ year }}"></a>
          {% endif %}

          <div class="row">
            <div class="col-xs-4">
              <img class="img-responsive img-project-thumbnail"
                   style="max-height: 240px"
                   src="{{ '/thumb.jpg' | prepend: p.url | prepend: site.baseurl }}">
            </div>
            <div class="col-xs-8" style="">
              <h4>{% for author in p.authors %}{% if author.url %}<a href={{author.url}}>{% endif %}{{author.name | split: ',' | last | lstrip }} {{ author.name | split: ',' | first }}{% if author.url %}</a>{% endif %}<!-- url -->{% endfor %}&nbsp; <span style="font-size:80%">{{ p.date | date: "%b %d, %Y" }}</span></h4>
              <ul class="list-inline">
                <!--Ugly but for text spacing issues-->
                {% for affiliation in p.affiliations %} {% if affiliation.url %}<li><a href={{affiliation.url}}>{% endif %}<!-- url -->{{affiliation.name}}{% if affiliation.url %}</a>{% endif %}</li><!-- url -->{% endfor %} <!-- affiliations -->
              </ul>
              <h5>Title: {{ p.title }}</h5>
              {% if p.publication %}
              {% if p.doi %}
              <p><b>Paper: </b><a href="{{p.doi}}">{{ p.publication }}</a></p>
              {% else %}
              <p><b>Paper: </b>{{ p.publication }}</p>
              {% endif %}<!-- doi -->
              {% endif %}<!-- publication -->
              <div style="">
                {% if p.abstract %}
                <div id="abstract{{ index }}">
                  <p class="text-left"><b>Abstract:</b> {{ p.abstract }}</p>
                </div>
                {% endif %}
              </div>
            </div>
          </div>

        </div>
        
        {% endfor %}

      </div>
    </div>
  </div>
</section>
