---
layout: default
---
<section id="publications">
    <div class="container text-center">
        <h2>Publications</h2>
    </div>

    <div class="container-fluid">
        <div class="row">
        {% assign publications = site.publications | sort: 'date' | reverse %}
        {% for p in publications %}
            <div class="publication text-center col-sm-6 col-md-4 col-lg-3">
                <div class="well">
                    <img class="img-responsive" src="{{ '/thumb.jpg' | prepend: p.url | prepend: site.baseurl }}" alt="{{ p.title }}">
                    <h4>{{ p.title }}</h4>
                    <p>{{ p.publication }}</p>

                    <ul class="authors list-inline">
                    {% for author in p.authors %}
                    {% if author.name %}
                        <li>{{ author.name | split: ',' | first }}</li>
                    {% endif %}
                    {% endfor %}
                    </ul>

                    <ul class="buttons list-inline">
                    {% if p.abstract %}
                        <li>
                        <button
                            class="btn btn-default"
                            type="button"
                            data-toggle="collapse"
                            data-target="#abstract{{ forloop.index }}"
                            aria-expanded="false"
                            aria-controls="abstract{{ forloop.index }}">Abstract</button>
                        </li>
                    {% endif %}
                    {% if p.layout == "publication" or p.project %}
                        <li>
                        {% if p.layout == "publication" %}
                            <a href="{{ p.url }}" class="btn btn-default">Project</a>
                        {% else %}
                            <a href="{{ p.project }}" class="btn btn-default">Project</a>
                        {% endif %}
                        </li>
                    {% endif %}
                    {% if p.paper %}
                        <li>
                            <a href="{{ p.paper }}" class="btn btn-default">Paper</a>
                        </li>
                    {% endif %}
                    {% if p.bibtex %}
                        <li>
                        <button
                            class="btn btn-default"
                            type="button"
                            data-toggle="collapse"
                            data-target="#bibtex{{ forloop.index }}"
                            aria-expanded="false"
                            aria-controls="bibtex{{ forloop.index }}">BibTeX</button>
                        </li>
                    {% endif %}
                    </ul>

                    {% if p.abstract %}
                    <div class="collapse" id="abstract{{ forloop.index }}">
                        <p class="text-left">{{ p.abstract }}</p>
                    </div>
                    {% endif %}
                    {% if p.bibtex %}
                    <div class="collapse" id="bibtex{{ forloop.index }}">
                            <pre class="text-left"><code>{{ p.bibtex }}</code></pre>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% assign indexmod2 = forloop.index | modulo: 2 %}
            {% assign indexmod3 = forloop.index | modulo: 3 %}
            {% assign indexmod4 = forloop.index | modulo: 4 %}
            {% if indexmod2 == 0 %}<div class="clearfix visible-xs visible-sm"></div>{% endif %}
            {% if indexmod3 == 0 %}<div class="clearfix visible-md"></div>{% endif %}
            {% if indexmod4 == 0 %}<div class="clearfix visible-lg"></div>{% endif %}
        {% endfor %}
        </div>
    </div>
</section>
